.noData{
  height: 60vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.loading{
  height: 60vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
