.header{
   width: 100vw;
   height: 3rem;
   position: fixed;
   top:0;
   background: transparent;
   color: $color-white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 2rem;
   padding: 4rem;
   z-index: 1000;
   @include respond(tab-port){
     background: $color-black;
     font-size: 2.5rem;
     padding: 4rem 2rem;
   }
}
.socialMedia{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a{
    color:$color-black;
    margin: 0 2rem;
    padding: 1rem 1.4rem;
    // height: 1rem;
    // width: 2rem;
    background: $color-white;
    border-radius: 100px;
  }
  @include respond(tab-port){
    font-size: 2rem;
  }
}
.logo{
  font-size: 2.5rem;
  text-decoration:none;
  color:$color-black;
  @include respond(tab-port){
    color: $color-white;
  }
  &:hover,&:focus{
    text-decoration:none;
    color:$color-black;
  }
}
