.header{
   width: 100vw;
   height: 3rem;
   position: fixed;
   top:3rem;
   background: transparent;
   color: $color-white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 2rem;
   padding: 4rem;
   z-index: 500;
   @include respond(tab-port){
     font-size: 2.5rem;
     height: 6rem;
     padding: 0rem 2rem;
     top:1rem;
   }
}
.socialMedia{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a{
    color:$color-black;
    margin: 0 2rem;
    padding: 1rem 1.4rem;
    background: $color-white;
    border-radius: 100px;
    box-shadow: 0rem 0rem 2rem rgba($color-black,.5);
    @include respond(tab-port){
      font-size: 1.4rem;
      margin: 0 0.5rem;
      font-weight: bolder;
      justify-content: center;
      padding: 1rem;
    }
  }
  @include respond(tab-port){
    font-size: 1.5rem;
    margin: 0 0rem;
    align-items:center;
  }
}

.info{
  color:$color-black;
  margin: 0 2rem;
  padding: 1rem 1.4rem;
  background: $color-white;
  border-radius: 100px;
  box-shadow: 0rem 0rem 2rem rgba($color-black,.5);
  @include respond(tab-port){
    font-size: 1.4rem;
    margin: 0 0.5rem;
    font-weight: bolder;
    justify-content: center;
    padding: 1rem;
  }
}

.logo{
  &__img{
    height:  5rem;
    border-radius: 8px;
    @include respond(tab-port){
      height:  4rem;
    }
  }
}
.tooltip{
  font-size: 2.5rem !important;
  // background: $color-white !important;
  // color: $color-black !important;
}
