.list{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__h1{
    font-size: 3rem;
    font-weight: bold;
    flex-basis: 100%;
    text-align: center;
    padding: 1rem;
  }
  &__table{
    @include respond(tab-port){
      max-height: 500vh;
      overflow: auto;
    }
    // width: 90%;
    padding: 0 1rem;
    &-head{
      font-size: 1rem;
      font-weight: bolder;
      &-row{
        &-head{
          text-align: center;
          font-size: 2rem;
          font-weight: bolder;
        }
        &-cell{
          padding: 1.5rem 1rem;

        }
      }
    }
    &-body{
      font-size: 1rem;
      font-weight: ligher;
      &-row{

        &-cell{
          max-width: 20rem;
          overflow-x: auto;
          padding: .5rem 1rem;
          &--delete{
            color:$color-red;
            cursor: pointer;
          }
        }
      }
    }
  }
}


































.choice{
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  flex-flow: row;
  width: 60vw;
  margin: 0 auto;
  @include respond(phone){
    width: 100vw;
  }
  &__item{
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid $color-grey;
    color: $color-white;
    background: $color-primary-blue;
    outline: none;
    &:hover,&:active{
       color: $color-white;
       background: rgba($color-primary-blue,.5);
       color: $color-black;
       box-shadow: 0rem 0rem 8rem rgba($color-grey,.8)
    }
    &:focus{
      outline: none;
    }
  }
}
