.list{
  border-spacing: 0;
  width: 100%;
  padding: 1rem 5rem;
  &__heading{
      text-align: center;
      font-size: 5rem;
      margin-top: 7rem;
  }
  &__head{
    &-row{

      &-column{
           padding: .3rem 0rem;
           text-align: center;
           font-size: 2rem;
           font-weight: bolder;
           border: 1px solid $color-black;
           color: $color-white;
           background: $color-black;
        &--delete{

        }

      }
    }
  }
  &__body{

    &-row{

      &-column{
        padding: .3rem 0rem;
        text-align: center;
        font-size: 2rem;
        border: 1px solid $color-black;
        &-btn-check{
          border: none;
          height: 2rem;
          width: 2rem;
          font-size: 1rem;
          background: $color-Spring-green;
          color:$color-white;
          &:focus,&:hover{
            outline-color: $color-orangered;
          }
        }
        &-btn-cross{
          border: none;
          height: 2rem;
          width: 2rem;
          font-size: 1rem;
          background: $color-secondary-red;
          color:$color-white;
          &:focus,&:hover{
            outline-color: $color-orangered;
          }
        }
        &--delete{
           color: $color-red;
        }
      }
    }
  }
}



.list--location{
   font-size: 1.5rem;
   padding: 1rem;
   margin-left: 5rem;
   display: inline-block;
   font-weight: bold;
   background:$color-orangered;
   color: $color-white;
}


.choice{
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  flex-flow: row;
  width: 60vw;
  margin: 0 auto;
  @include respond(phone){
    width: 100vw;
  }
  &__item{
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid $color-grey;
    color: $color-white;
    background: $color-primary-blue;
    outline: none;
    &:hover,&:active{
       color: $color-white;
       background: rgba($color-primary-blue,.5);
       color: $color-black;
       box-shadow: 0rem 0rem 8rem rgba($color-grey,.8)
    }
    &:focus{
      outline: none;
    }
  }
}
