.list{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 2rem;
  margin-bottom: 5rem;
  &__char{
    flex-basis: 100%;
    font-size: 4rem;
    background: rgba($color-grey-light,1);
    padding-left: 2rem;
    position: sticky;
    z-index: 1;
    // backface-visibility:hidden;
    top:8.1rem;
    &:not(:first-of-type){
      margin-top: 2rem;
    }
  }
  &__country{
    font-size: 3rem;
    flex-basis: 100%;
    &:not(:first-of-type){
      margin-top: 1rem;
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
    overflow-y: auto;
    max-height: 200vh;
    @include respond(tab-port){
      justify-content: center;
    }
  }
  &__h1{
    font-size: 4rem;
    font-weight: bolder;
    flex-basis: 100%;
    text-align: center;
    padding: 1rem;
  }
  &__table{
    height: 1rem;
    overflow-y: auto;
    // border: 1px solid $color-black;
    // width: 90%;
    border-collapse:collapse;
    // margin: 0 4rem;
    &-head{

      font-size: 1rem;
      font-weight: bolder;
      &-row{
        &-head{
          text-align: center;
          font-size: 2rem;
          font-weight: bolder;
          background: $color-black;
          color: $color-white;
          letter-spacing: 2px;
        }
        &-cell{
          // width: 5rem;

          border: 1px solid $color-black;
          padding: 1.5rem 1rem;

        }
      }
    }
    &-body{
      font-size: 1rem;
      font-weight: ligher;
      &-row{

        &-cell{
          // width: 5rem;

          border: 1px solid $color-black;
          max-width: 16rem;
          overflow-x: auto;
          padding: .5rem 1rem;

          &--delete{
            color:$color-red;
            cursor: pointer;
          }
        }
      }
    }
  }
}


.charBox{
  margin-bottom: 2rem;
}
.countryBox{
   margin-bottom: 1rem;
}
































.choice{
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  flex-flow: row;
  width: 60vw;
  margin: 0 auto;
  @include respond(phone){
    width: 100vw;
  }
  &__item{
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid $color-grey;
    color: $color-white;
    background: $color-primary-blue;
    outline: none;
    &:hover,&:active{
       color: $color-white;
       background: rgba($color-primary-blue,.5);
       color: $color-black;
       box-shadow: 0rem 0rem 8rem rgba($color-grey,.8)
    }
    &:focus{
      outline: none;
    }
  }
}
