.add-client{
    height: 100%;
    width: 100%;
    background: $color-grey;
    align-self:flex-start;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y: auto;
    padding:  5rem auto;
}
.add-client-background{
    height: 5rem;
}
.add--btn{
  position: absolute;
  top:8rem;
  right: 35rem;
  height: 5rem;
  width:5rem;
  border-radius: 100px;
  color: $color-white;
  background: $color-orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background: rgba($color-orangered,.5);
  }
}
