.notables{
   background: $color-white;
   perspective: 1000px;
   padding-top:12rem;
   min-height: 100vh;
   position: relative;
   @include respond(phone){
     padding-top:14rem;
   }
   &__search{
     &-input{
       color: $color-black;
       font-weight: bold;;
      height: 3rem;
      width: 20rem;
      background: rgba($color-white,.5);
      padding: 1rem 2rem;
      border: 1px solid rgba($color-grey,.5);
      font-size: 1.3rem;
      margin-right: 2rem;
      @include respond(tab-port){
        margin-top: 0rem;
        margin-right: 0rem;
      }
      &:focus{
        outline: none;
        border: 1px solid rgba($color-primary-blue,.5);
        & ~ button{
          border: 1px solid rgba($color-primary-blue,.5);
        }
      }

     }
     &-btn{
       background: rgba($color-grey,.5);
       padding: 1rem 2rem;
       border: none;
       height: 5rem;
     }
   }
   &__searchByCountry{
      top: 10rem;
      right: 0;

      &-input{
        color: $color-black;
        font-weight: bold;;
       height: 3rem;
       width: 20rem;
       background: rgba($color-white,1);
       padding: 1rem 2rem;
       font-size: 1.3rem;
       border: 1px solid rgba($color-grey,.5);
       &:focus{
         outline: none;
         border: 1px solid rgba($color-primary-blue,.5);
         & ~ .notables__searchByCountry-dropdown{
           display: block;
           & .notables__searchByCountry-dropdown-item{
             height: 3rem;
           }
         }
       }

      }
      &-dropdown{
         display: none;
         position: absolute;
         min-width: 20rem;
         transition: all .6s;
         z-index: 1000;
         border: 1px solid rgba($color-black,.2);

         &:hover{
           display: block;
         }
        &-item{
          cursor: pointer;
          background: $color-white;
          color: $color-black;
          z-index: 100;
          height: 3rem;
           font-size: 1.2rem;
           padding: 1rem 0.5rem;
           display: flex;
           align-items:center;
           justify-content: space-between;
           flex-wrap: wrap;
           transition: all .2s;
           &:hover{
              background: #cffffe;
           }
        }
      }
   }
}

.searchfor{
  font-size: 2.5rem;
  text-align: right;
  padding-right: 15rem;
  text-transform: capitalize;
  margin-top: 2rem;
  color: $color-white;
  & strong{
    background: $color-primary-blue;
    padding:.5rem 1rem;
  }
  @include respond(tab-port){
    margin-top: 1rem;
    padding-right: 2rem;
    & strong{
      padding:.1rem .8rem;
    }
  }
}

.searchWrapper{
 display: flex;
 justify-content: space-between;
 align-items:center;
  z-index: 10010;
  color: $color-white;
  font-weight: bold;
  padding: 0 15rem;
  @include respond(tab-port){
     top: 2rem;
     justify-content: flex-start;
     align-items:flex-start;
     flex-flow: column-reverse;
     padding: 0 2rem;
  }
}

.notables__filter{
  color: $color-black;
  display:flex;
  justify-content: space-between;
  align-items:baseline;
  flex-wrap: wrap;
  font-size: 1.5rem;
  position: relative;
  flex-grow: 1;
  position: relative;
  & > label{
    cursor: pointer;
     background: $color-primary-blue;
     padding: 1rem 2rem;
     color: $color-white;
  }
  & > input:checked ~ .notables__filter-option{
      display: flex;
  }
  &-reset{
    position: absolute;
    right:0.5rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    color: $color-primary-blue;
    font-weight: bolder;
    cursor: pointer;
  }
  &-option{
    position: absolute;
    top:0%;
    left: 15rem;
    display: flex;
    display: none;
    justify-content: space-between;
    box-shadow: 0 0 2rem rgba($color-grey,.3);
    &-category{
      cursor: pointer;
       margin: 0.5rem 2rem;
       min-width: 12rem;
       & label{
         cursor: pointer;
         padding: 0 .5rem;
       }

    }
    &-type{
      margin: 0.5rem 2rem;
      min-width: 12rem;
      cursor: pointer;
      & label{
        cursor: pointer;
         padding: 0 .5rem;
      }
    }
    &-verified{
      min-width: 12rem;
     margin: 0.5rem 2rem;
     cursor: pointer;
     & label{
       cursor: pointer;
         padding: 0 .5rem;
     }
    }
  }
}


@include respond(tab-port){
  .notables__filter{
    color: $color-black;
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
    font-size: 1.2rem;
    position: relative;
    flex-grow: 1;

    & > label{
      cursor: pointer;
       background: $color-primary-blue;
       padding: 1rem 2rem;
       color: $color-white;
    }
    & > input:checked ~ .notables__filter-option{
        display: flex;
    }
    &-option{
      background: $color-white;
      z-index: 100;
      left: 0rem;
      top:100%;
      display: flex;
      display: none;
      justify-content: space-between;
      box-shadow: 0 0 2rem rgba($color-grey,.3);
      &-category{
        cursor: pointer;
         margin: 0.5rem 1rem;
         min-width: 10rem;
         & label{
           cursor: pointer;
           padding: 0 .5rem;
         }

      }
      &-type{
        margin: 0.5rem 1rem;
        min-width: 12rem;
        cursor: pointer;
        & label{
          cursor: pointer;
           padding: 0 .5rem;
        }
      }
      &-verified{
        min-width: 10rem;
       margin: 0.5rem 1rem;
       cursor: pointer;
       & label{
         cursor: pointer;
           padding: 0 .5rem;
       }
      }
    }
  }
}





.gravatar__img{
 position: absolute;
 top:0rem;
 right: .5rem;
 border-radius: 100px;
}

.userWrapper{
  display: flex;
  margin: 8rem 10rem;
  margin-bottom: 0;
  padding-bottom: 5rem;
  justify-content: center;
  align-items:stretch;
  flex-wrap: wrap;
  @include respond(tab-port){
    margin: 1rem 2rem;
    justify-content: center;
  }
}
.userWrapper2{
   position: relative;
}

.userWrapper3{

}


.user{
  overflow: hidden;
   min-width: 30rem;
   min-height: 15rem;
   padding: .5rem 2rem;
   background: rgba($color-grey-light-2,.5);
   border: 1px solid rgba($color-grey,.2);
   border-radius: 12px;
   margin: .5rem;
   margin-bottom: 2rem;
   box-shadow: 0 0 5rem rgba($color-grey,.2);
   transform: scale(0.99);
   transition: all .5s;
   padding-bottom: 0;
   &:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5rem rgba($color-black,.2);
   }
  &__name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    width: 21rem;
  }
  &__field{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem 0;

    & span{
      color:$color-grey;
      font-size: 1.5rem;
    }
    &2{
      & span{
        font-size: 1.5rem;
        color: $color-grey-dark-3;
      }
    }
    &3{
      position: absolute;
      top:4rem;
      right: 0.1rem;
      padding: 0;
      margin: 0;
      & span{
        color: $color-green;
        font-size: 1.1rem;
      }
    }
    &4{
      color: $color-primary-blue;
      display:inline-block;

     & i{max-width: 20rem; text-align: right;}

    }
    &1{
      display:inline-block;
      text-align:right;
      float: right;
    }
  }
  &__verified{

    & i{
      padding: 0 .1rem;
      padding-left: 0;
    }
  }
}


.load__btn{
   margin: 5rem auto;
   display: block;
   margin-bottom:0rem;
   height: 4rem;
   width: 25rem;
   border: none;
   border: 5px solid $color-primary-blue;
   border-bottom: none;
   background: rgba($color-primary-blue,.9);
   transition: all .5s;
   font-size: 2rem;
   color: $color-white;
   font-weight: bold;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   transform: scale(1) rotateX(2deg);
   transform-origin: bottom;
   cursor: pointer;
   &-loading{
     border-radius: 0;
   }
   &:hover{
     box-shadow: 0 0 5rem rgba($color-primary-blue,.1);
     border-top: 10px solid $color-primary-blue;
     transform: scale(1.1) rotateX(0deg);
     background: rgba($color-primary-blue,1);
   }
}
#user__claim{

  &-2{
    color: $color-react-blue;
    font-size: 1.2rem;

  }
  &-3{
    font-size: 1.5rem;
    color: $color-primary-blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
