.notables{
   background: $color-white;
   perspective: 1000px;
   padding-top:12rem;
   min-height: 100vh;
   position: relative;
   &__search{
     &-input{
       color: $color-black;
       font-weight: bold;;
      height: 3rem;
      width: 20rem;
      background: rgba($color-white,.5);
      padding: 1rem 2rem;
      border: 1px solid rgba($color-grey,.5);
      margin-right: 2rem;
      @include respond(tab-port){
        margin-top: 6rem;
      }
      &:focus{
        outline: none;
        border: 1px solid rgba($color-primary-blue,.5);
        // border-left:none;
        & ~ button{
          border: 1px solid rgba($color-primary-blue,.5);
          // border-left:none;
        }
      }

     }
     &-btn{
       background: rgba($color-grey,.5);
       padding: 1rem 2rem;
       border: none;
       height: 5rem;
     }
   }
   &__searchByCountry{
      // position: absolute;
      top: 10rem;
      right: 0;

      &-input{
        color: $color-black;
        font-weight: bold;;
       height: 3rem;
       width: 20rem;
       background: rgba($color-white,1);
       padding: 1rem 2rem;
       border: 1px solid rgba($color-grey,.5);
       &:focus{
         outline: none;
         border: 1px solid rgba($color-primary-blue,.5);
         // border-left:none;
         & ~ .notables__searchByCountry-dropdown{
           display: block;
           & .notables__searchByCountry-dropdown-item{
             height: 3rem;
           }
         }
       }

      }
      &-dropdown{
         display: none;
         position: absolute;
         width: 20rem;
         transition: all .6s;
         &:hover{
           display: block;
         }
        &-item{
          background: $color-white;
          z-index: 100;
          height: 3rem;
           font-size: 1.5rem;
           padding: 1rem 0rem;
           display: flex;
           align-items:center;
           justify-content: space-between;
           flex-wrap: wrap;
        }
      }
   }
}

.searchfor{
  font-size: 2.5rem;
  // text-align: center;
  padding-left: 5rem;
  text-transform: capitalize;
  @include respond(tab-port){
    margin-top: 6rem;
  }
}

.searchWrapper{
  // z-index: 100000;
 display: flex;
 justify-content: space-between;
 align-items:center;
  z-index: 10010;
  color: $color-white;
  font-weight: bold;
  padding: 0 15rem;
  @include respond(tab-port){
     top: 2rem;
  }
}

.notables__filter{
  color: $color-black;
  display:flex;
  justify-content: space-between;
  align-items:baseline;
  flex-wrap: wrap;
  font-size: 1.5rem;
  position: relative;
  flex-grow: 1;

  & > label{
    cursor: pointer;
     background: $color-primary-blue;
     padding: 1rem 2rem;
     color: $color-white;
  }
  & > input:checked ~ .notables__filter-option{
      display: flex;
  }
  &-option{
    position: absolute;
    top:111%;
    left: 0;
    display: flex;
    display: none;
    justify-content: space-between;
    box-shadow: 0 0 2rem rgba($color-grey,.3);
    &-category{
      cursor: pointer;
       margin: 0.5rem 2rem;
       min-width: 12rem;
       & label{
         cursor: pointer;
         padding: 0 .5rem;
       }

    }
    &-type{
      margin: 0.5rem 2rem;
      min-width: 12rem;
      cursor: pointer;
      & label{
        cursor: pointer;
         padding: 0 .5rem;
      }
    }
    &-verified{
      min-width: 12rem;
     margin: 0.5rem 2rem;
     cursor: pointer;
     & label{
       cursor: pointer;
         padding: 0 .5rem;
     }
    }
  }
}

.gravatar__img{
 position: absolute;
 top:0rem;
 right: .5rem;
 border-radius: 100px;
}

.userWrapper{
  display: flex;
  // flex-flow: column;
  margin: 8rem 5rem;
  margin-bottom: 0;
  // margin-top: 0rem;
  padding-bottom: 5rem;
  justify-content: center;
  align-items:stretch;
  flex-wrap: wrap;
  // transform: skewX(-12deg);
  // min-height: 80vh;
  @include respond(tab-port){
    margin: 1rem 2rem;
    justify-content: center;
  }
}
.userWrapper2{
   position: relative;
}

.userWrapper3{

}


.user{
  overflow: hidden;
  // transform: skewX(-12deg);
   min-width: 30rem;
   min-height: 15rem;
   padding: .5rem 2rem;
   // padding-top: 1rem;
   background: rgba($color-grey-light-2,.5);
   border: 1px solid rgba($color-grey,.2);
   // margin: 1rem;
   border-radius: 12px;
   margin: .5rem;
   margin-bottom: 2rem;
   box-shadow: 0 0 5rem rgba($color-grey,.2);
   transform: scale(0.99);
   transition: all .5s;
   padding-bottom: 0;
   &:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5rem rgba($color-black,.2);
   }
  // &0{
  //   align-self: flex-start;
  // }
  // &1{
  //   align-self: flex-end;
  // }
  &__name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    width: 21rem;
  }
  &__field{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem 0;
    & span{
      color:$color-grey;
      font-size: 1.5rem;
    }
    &2{
      & span{
        font-size: 1.1rem;
        color: $color-grey-dark-3;
      }
    }
    &3{
      position: absolute;
      top:4rem;
      right: 0.1rem;
      padding: 0;
      margin: 0;
      & span{
        color: $color-green;
        font-size: 1.1rem;
      }
    }
    &4{
      color: $color-primary-blue;
      display:flex;
      align-items: center;
      justify-content: space-between;
     & i{max-width: 20rem; text-align: right;}

    }
  }
  &__verified{

    & i{
      padding: 0 .1rem;
      padding-left: 0;
    }
  }
}


.load__btn{
   margin: 5rem auto;
   display: block;
   margin-bottom:0rem;
   height: 4rem;
   width: 25rem;
   border: none;
   border: 5px solid $color-primary-blue;
   border-bottom: none;
   background: rgba($color-primary-blue,.9);
   transition: all .5s;
   font-size: 2rem;
   color: $color-white;
   font-weight: bold;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   transform: scale(1) rotateX(2deg);
   transform-origin: bottom;
   cursor: pointer;
   &-loading{
     border-radius: 0;
   }
   &:hover{
     box-shadow: 0 0 5rem rgba($color-primary-blue,.1);
     border-top: 10px solid $color-primary-blue;
     transform: scale(1.1) rotateX(0deg);
     background: rgba($color-primary-blue,1);
   }
}
