.sideDrawer{
  color:$color-black;
  &__backdrop{
    background: rgba($color-black,.5);
    z-index: 1100;
  }
  &__container{
    background: $color-white;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    &-cross{
      position: absolute;
      top: 1rem;
      right:1rem;
      font-size: 2.5rem;
      cursor: pointer;
    }
    &-logo{
      text-align: center;
      font-size: 3rem;
      padding: 1rem;
      background: $color-grey-light-2;
    }
    &-stage{
      cursor:pointer;
      font-size: 2rem;
      padding: 1rem 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      &1{
        animation: stage1 .5s ease-out;
        &:hover{
          background: rgba($color-grey,.2);
        }
      }
      &2{
        transform: translateX(0%);
        animation: stage2 .5s ease-out;
        border-left: 1px solid rgba($color-black,1);
        &:hover{
          background: rgba($color-grey,.2);
        }
      }
    }
  }
}

@keyframes stage1 {
   from{
     transform: translateX(-100%);
   }to{
     transform: translateX(0%);
   }
}

@keyframes stage2 {
   from{
     transform: translateX(100%);
   }to{
     transform: translateX(0%);
   }
}
































.sideDrawer{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-white;
  z-index: 1300;
  top:0;
  left: 0;
  &__open{
    height: 100vh;
    width: 0rem;
    font-size: 1.5rem;
    // transform: rotate(-90deg);
    animation: open .5s ease-out;
    animation-fill-mode:forwards;
  }
  &__close{
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    width: 0;
    font-size: 0;
    animation: close .5s ease-out;
  }
}
@keyframes open {
   from{
      height: 100vh;
      width: 0;
      font-size: 0;
      opacity: 0;
      visibility: hidden;
   }to{
     opacity: 1;
     visibility: visible;
     height: 100vh;
     width: 40rem;
     font-size: 1.5rem;
   }
}
@keyframes close {
   from{
     opacity: 1;
     visibility: visible;
     height: 100vh;
     width: 40rem;
     font-size: 1.5rem;
   }to{
     opacity: 0;
     visibility: hidden;
     height: 100vh;
     width: 0;
     font-size: 0;
   }
}
