.map__wrapper{
  // width: 100vw;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 5rem;
  padding-top: 8rem;
  background: $color-primary-blue;
  background-image: url(../../../assets/images/mapbackground.jpg);
  overflow: hidden;
  padding-bottom: 15rem;
}
#map{
  margin-bottom: 5rem;
  // border: 1px dashed $color-black;
  box-shadow: .1rem .5rem 5rem rgba($color-black,.3);
  position: relative;
  // border-radius: 160px;
}
.map__div{
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    background: rgba($color-white,.7);
    // padding: 2rem;
    text-align: center;
    display: inline-block;
    &-country{
        background: rgba($color-grey-dark-3,.8);
        color: $color-white;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
    &-believer{

      &-text{
        padding: .2rem 2rem;
        font-size: 1.2rem;
      }
      &-number{
        padding: .2rem 2rem;
        font-size: 1.5rem;
      }
    }
    &-nonBeliever{

      &-text{
        padding: .2rem 2rem;
        font-size: 1.2rem;
      }
      &-number{
        padding: .2rem 2rem;
        font-size: 1.5rem;
      }
    }
    &-code{
      position: absolute;
      top:0;
      right:0;
      z-index: 0;
      opacity: .5;
      height: 100%;
      width: 100;
    }
}
