.clientDetailViewWrapper{
  padding-top: 0rem;
  background: $color-white;
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2rem rgba($color-grey, .2);
  outline: 2px solid rgba($color-black, .2);
  outline-offset: -6px;
}
.clientDetailView{

    background: $color-white;
    color: $color-black;
    position: relative;
    @include respond(tab-port){

    }
    &__row{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      & > *{

      }
    }
    &__img{
      position:static;
      top:3rem;
      right:3rem;
      height: 6rem;
      width: 6rem;
    }

    &__col{
      &-country{
        line-height: 1;
        font-weight:bold;
        text-transform: capitalize;
        padding: 1rem 0.5rem;
        & span{
          font-size: 1.2rem;
          color: $color-primary-blue;
          padding-left: .5rem;
          @include respond(tab-port){
             font-size: 1.5rem;
          }
        }
      }
      &-2{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items:center;

      }
    }
  &__name{
      font-size: 2rem;
      font-weight:bold;
      text-transform: uppercase;
      padding-bottom: .5rem;
      @include respond(tab-port){
         font-size: 1.8rem;
      }
  }
  &__notableFor{
      font-size: 1.2rem;
      font-weight:bold;
      text-transform: capitalize;
      padding: 1rem 0;

      & span{
        font-size: 2rem;
        color: $color-grey;
        padding-left: .5rem;
        @include respond(tab-port){
           font-size: 1.5rem;
        }
      }
  }
  &__verified{
    padding: 1rem;
    padding-left: 0;
    & span{
       color: $color-green;
       font-size: 1.5rem;
       font-weight: bold;
       @include respond(tab-port){
          font-size: 1rem;
       }

    }
  }
  &__background{
    font-size: 1.5rem;
    font-weight:bold;
    text-transform: capitalize;
    padding: 1rem 0;
    line-height: 2;
    color: $color-grey-dark-3;
  }
}
.hr{
   border: none;
   border-bottom:1px solid rgba($color-grey,.3);
}
