.query{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  // animation-fill-mode: forwards;
  &--1{
    animation: query--1 1s ease-out;
  }
  &--2{
    transform-origin: bottom;
    animation: query--2 1s ease-out;
  }
  &__item{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include respond(tab-port){
       width: 100%;
    }
    &-image{
       object-position: center;
       object-fit: cover;
       position: absolute;
       height: 100%;
       width: 100%;
       top: 0;
       left: 0;
       opacity: .8;
       transition: all .5s;
       cursor: pointer;
       &:hover{
         opacity: 1;
       }
    }
    &-text{
      cursor: pointer;
      z-index: 1;
      &:hover + .query__item-image{
         opacity: 1;
      }
    }
  }
  @include respond(tab-port){
     flex-flow: column;
  }
}

.stageTwoWrapper{
  & > *{
    // flex-basis: 50%;
  }
}

@keyframes query--1 {
    from{
      transform: translateY(-500%);
      opacity: 0;
    }
    to{
      transform: translateY(0%);
      opacity: 1;
    }
}
@keyframes query--2 {
    from{
      transform: rotate(180deg);
      opacity: 0;
    }
    to{
      transform: rotate(0deg);
      opacity: 1;
    }
}
