.backButton{
  position: absolute;
  font-size: 4.5rem;
  z-index: 10;
  color: $color-white;
}

.branding__remove{
  position: absolute;
  bottom: 0px;
  right: 0;
  font-size: 5rem;
  z-index: 100;
  width: 50rem;
  height: 4rem;
  background: #00BFFF;
  @include respond(phone){
    width: 30rem;
  }
}
