.adminVerification{
    min-height: 100vh;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  &__form{
     width:50%;
     height: 30vh;
     & .form__input{
       margin-bottom: 1rem;
     }
  }
  & h1{
    font-size: 3rem;
  }
}
