.modal{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  transform: translate(-50%,-50%);
  background: rgba($color-white,1);
  border: 8px solid $color-primary-blue;
  color: $color-white;
  width:70%;
  z-index: 100000;
  height: 95vh;
  z-index: 500;
  top:50%;
  left: 50%;
  font-size: 3rem;
  animation: modal .5s ease-in;
  border-radius: 8px;
  overflow: hidden;
}

.modal2{
  width:60rem;
  height:60rem;
   animation: modal2 .5s ease-in;
}
@keyframes modal {
    0%{
      opacity: 0
    }
    100%{
     opacity:1;
    }
}
@keyframes modal2 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}




















.modalCross{
  position: absolute;
  font-size: 3.5rem;
  font-weight: 100;
  top: 1rem;
  right:1rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  transition: all .2s;
  color:$color-grey-light;
  opacity: .3;
  cursor: pointer;
  &:hover,&:active{
    opacity: 1;
    background: $color-black;
    color: $color-white;
    box-shadow: 0 0 0rem $color-black;
  }
}
@include respond(phone){
  .modal{
    width:85%;
  height: 95vh;
  }
}
